*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Helvetica, sans-serif;
      font-size: 22px;
      color: seashell;
      background-color: black;
      opacity: 0.9;
      text-align: center;
  }
  header {
    position: sticky;
    padding-top: 10px;
    top: -10px;
    margin: 0 10px;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
  }
  header img {
    height: 50px;
  }
  header a {
    color: #FFF5EE;
    margin: auto 10;
     }
  .atag {
    margin-left: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .mission {
    border: 1px solid red;
    position: relative;
    margin-bottom: 5%;
  }
  
  .mission img {
    max-width: 100%;
    height: auto;
    border: 1px solid blue;
    vertical-align: middle;
  }
  
  .missionText
  {
    background-color: black;
    width: 100%;
    position: absolute;
    border: 1px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  h2{
    font-size: 1.5em;
    }
  h4{
    font-size: 1em;
    line-height: 2;
  }