*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Helvetica, sans-serif;
      font-size: 22px;
      color: seashell;
      background-color: black;
      opacity: 0.9;
      text-align: center;
  }
  .header {
    overflow: hidden;
    background-color: black;
    position: fixed;
    padding-top: 10px;
    top: 0;
   
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 10;  
    display: flex;
    flex-shrink: 2;
    min-width: 10px;
    border: 1px solid red;
  }
  .header img {
    height: 50px;
    float: left;
  }
  .header a {
    color: #FFF5EE;
    display: block;
    text-align: center;
    padding:  14px 16px;
     }
  .atag {
    margin-left: auto;
    margin-bottom: 15px;
    display: flex;
    float: right;
    flex-wrap: wrap;
    border: 1px solid red;
    min-width: 10px;
    flex-shrink: 2;
  }
  
  .mission {
    border: 1px solid red;
    position: relative;
    margin-bottom: 5%;
  }
  
  .mission img {
    max-width: 100%;
    height: auto;
    border: 1px solid blue;
    vertical-align: middle;
  }
  
  .missionText
  {
    background-color: black;
    width: 100%;
    position: absolute;
    border: 1px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  h2{
    font-size: 2rem;
    }
  h4{
    font-size: 1.5rem;
    line-height: 2;
  }
  .teaOfMonth {
    border: 1px solid red;
    
    
  }